In [7]:
import pandas as pd 

df = pd.read_csv('./data/data_3.csv',delimiter=',') 
df.head(1)

,id,image,label_id,skin_area_id,medical_record_code,sex,age,from_date,age_of_onset,damage_area,is_itchy,is_similar_in_family,age_group
0,1522,images/image_uuid_f0b27277-d691-4cf5-9eeb-5f09...,40.0,1.0,VDCĐ-373,1.0,3.0,NaN,NaN,1,3.0,NaN,1

In [35]:
df_vaynen = df[df['label_id'].isin([12.0, 13.0, 14.0])]

In [ ]:
df_vaynen.drop(['id', 'medical_record_code', 'from_date', 'age_of_onset', 'is_similar_in_family'], axis=1, inplace=True)
df_vaynen['image'] = df_vaynen['image'].str.split('/')
df_vaynen['image'] = df_vaynen['image'].apply(lambda x: x[1])
df_vaynen.reset_index( drop=True, inplace=True)

C:\Users\trong\AppData\Local\Temp\ipykernel_10796\1181737926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vaynen.drop(['id', 'medical_record_code', 'from_date', 'age_of_onset', 'is_similar_in_family'], axis=1, inplace=True)

In [39]:
df_vaynen

,image,label_id,skin_area_id,sex,age,damage_area,is_itchy,age_group
0,image_uuid_c11175d2-edd2-4cd5-959f-5239513277b...,13.0,2.0,2.0,48.0,1,0.0,4
1,image_uuid_3690bdc8-2cda-4479-94fd-cd11f81a9cd...,13.0,2.0,2.0,48.0,1,0.0,4
2,image_uuid_2e2ae6cb-c02e-44b5-870f-5901cd16b91...,13.0,1.0,2.0,48.0,1,0.0,4
3,image_uuid_caaaefb3-2ae2-4409-b743-a89e6a9c80c...,13.0,1.0,2.0,48.0,1,0.0,4
4,image_uuid_55076b56-471d-427b-a14b-d0286025a81...,14.0,8.0,1.0,72.0,2,0.0,5
...,...,...,...,...,...,...,...,...
12977,image_uuid_a6d2f710-b9a8-4eb7-a0ca-0ea82f6d1fc...,13.0,28.0,1.0,61.0,1,0.0,5
12978,image_uuid_fe40dbdf-a00b-4bdf-ad33-952d9697799...,13.0,28.0,1.0,61.0,1,0.0,5
12979,image_uuid_57b1a7bf-6264-42e8-9901-1b96b15a5a8...,13.0,8.0,2.0,48.0,1,0.0,4
12980,image_uuid_59449881-65f8-4c78-b582-0e2d91561c7...,13.0,8.0,2.0,48.0,1,0.0,4
12981,image_uuid_378a8fb0-1068-4a58-96dd-320a66d9beb...,13.0,8.0,2.0,48.0,1,0.0,4

In [48]:
import os

root = "C:\\Users\\trong\\Documents\\skin_data"

image_test = []
for folder in os.listdir(os.path.join(root, 'test')):
    image_test.extend(os.listdir(os.path.join(root,'test',folder)))

len(image_test)

1170

In [42]:
df_vaynen_test = df_vaynen[df_vaynen['image'].isin(image_test)].copy()
df_vaynen_train = df_vaynen[~df_vaynen['image'].isin(image_test)].reset_index(drop=True)

In [ ]:
image_train = []
for folder in os.listdir(os.path.join(root, 'train')):
    image_train.extend(os.listdir(os.path.join(root,'train',folder)))

df_vaynen_train['image'].isin(image_train).sum()

11812

In [50]:
import pandas as pd

# Save data to CSV files
df_vaynen_test.to_csv("data/vaynen_test.csv", index=False)
df_vaynen_train.to_csv("data/vaynen_train.csv", index=False)

In [ ]:
import pandas as pd 
import os

df = pd.read_csv("./data/vaynen_test.csv", delimiter=',')
for i in range(len(df['image'])):
    df['image'][i] = os.path.join('test', str(int(df['label_id'][i])), df['image'][i])

df.head()

In [2]:
import pandas as pd

df = pd.read_csv("./data/vaynen_test.csv", delimiter=',')
df['image'] = df['image'].apply(lambda x: x.replace('\\', '/'))
df.to_csv("./data/vaynen_test_linux.csv", index=False)

In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("data/vaynen_train_linux.csv")
df['label_id'].isna().sum()

0

In [2]:
import pandas as pd

#Load single threaded csv
single_thread_df = pd.read_csv("./data/vaynen_test_fos.csv")

#Load multi threaded csv
multi_thread_df = pd.read_csv("test.csv")

single_thread_df.equals(multi_thread_df)

True